@{
    ViewBag.Title = "首页";
    ViewBag.MainTitle = "来宾";
}

<h2>首页-公共展示 </h2>

<p>
    版本:<br />
EAMS_Frame ver20140811<br />
CallInfo ver20140404 beta<br />
Petition ver20150311 Beta<br />
Attendance ver20141101 bate<br />
</p>

<div id = "ContentPage">来宾首页</div>