@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ResultView</title>
</head>
<body>
    <div>
        <input type="hidden" id="MessageText" name="MessageText" />
        <input type="hidden" id="NextUrl" name="NextUrl" />
    </div>
    <script type="text/javascript">
        alert($('#MessageText'));
    </script>
</body>
</html>
