<div>
@if(Request.IsAuthenticated) 
{
    <text>欢迎使用 <b>@Html.ActionLink(SystemBLL.UserBLL.getUser(int.Parse(Context.User.Identity.Name)).cUserName, "Edit", "Manager/Account", new { id = Context.User.Identity.Name }, new { })</b>!
    |[ @Html.ActionLink("注销", "LogOff", "Manager/Account") ]</text>
    }
 else 
 {    <text>[@Html.ActionLink("注册", "Register", "Manager/Account")]
        |[ @Html.ActionLink("登录", "LogOn", "Manager/Account") ]</text>
    }
</div>