
@{
    ViewBag.Title = "首页";
}

<h2>首页-公共展示 </h2>

<p>
    版本:<br />
    EAMS_Frame ver201603330 with ASP.NET 5 MVC 5.2.3<br />
    Attendance ver20160330 bate<br />
    Strategy ver20151204 bate<br />
    Common ver20151204 bate<br />
    Report ver20160330 bate<br />
    CallInfo ver框架升级待更新 beta<br />
    Petition ver框架升级待更新 Beta<br />
</p>

<div id="ContentPage">来宾首页</div>

